/*---------------RESET------------------------*/
/*---------------RESET------------------------*/

@import "reset.scss";

/*---------------BODY------------------------*/
/*---------------BODY------------------------*/

html, body {
    font-family: Poppins;
    background-color: #000
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    max-width: 1920px;
    margin: 0 auto;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
}


/*---------------HEADING------------------------*/
/*---------------HEADING------------------------*/

.title {
    font-weight: 600;
    font-size: 25px;
    line-height: 38px;
    color: #3d82f2;
    text-transform: uppercase;
    text-align: center;
}
.subtitle {
    font-weight: 600;
    font-size: 75px;
    line-height: 112px;
    color: #ffffff;
    text-align: center;
}

/*---------------HEADER------------------------*/
/*---------------HEADER------------------------*/

@import "_header.scss";

/*================================================*/

/*---------------LOVE SECTION------------------------*/
/*---------------LOVE SECTION------------------------*/

@import "_love.scss";

/*================================================*/

/*---------------CONNECT SECTION------------------------*/
/*---------------CONNECT SECTION------------------------*/

@import "_connect.scss";

/*================================================*/

/*---------------HOMEPAGE SECTION------------------------*/
/*---------------HOMEPAGE SECTION------------------------*/

@import "_homepage.scss";

/*================================================*/

/*---------------SHARE SECTION------------------------*/
/*---------------SHARE SECTION------------------------*/

@import "_share.scss";

/*================================================*/

/*---------------SEND SECTION------------------------*/
/*---------------SEND SECTION------------------------*/

@import "_send.scss";

/*================================================*/

/*---------------EXPERTS SECTION------------------------*/
/*---------------EXPERTS SECTION------------------------*/

@import "_experts.scss";

/*================================================*/

/*---------------CREATORS SECTION------------------------*/
/*---------------CREATORS SECTION------------------------*/

@import "_creators.scss";

/*================================================*/

/*---------------STARTED SECTION------------------------*/
/*---------------STARTED SECTION------------------------*/

@import "_started.scss";

/*================================================*/

/*---------------FOOTER SECTION------------------------*/
/*---------------FOOTER SECTION------------------------*/

@import "_footer.scss";

/*================================================*/
